<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultStr" connectionString="Data source=(LocalDb)\MSSQLLocalDB;
    Initial Catalog=Emp_Dep;
    Integrated security = True" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
</configuration>